{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "debug": true
            }
        ]
    ],
    "plugins": [
        "transform-runtime"
    ]
}